<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninjahome.ninja">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".NinjaApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:maxAspectRatio="2.4"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Ninja">

        <activity
            android:name=".ui.activity.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ninjahome.ninja.ui.activity.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ninjahome.ninja.ui.activity.createaccount.CreateAccountActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ninjahome.ninja.ui.activity.edituserinfo.EditUserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ninjahome.ninja.ui.activity.contact.applylist.ApplyListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ninjahome.ninja.ui.activity.search.SearchContactActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ninjahome.ninja.ui.activity.scan.ScanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ninjahome.ninja.ui.activity.chat.ChatActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>